@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
#login{
background-image: url(../img/bg.jpg);
background-size: cover;
filter: brightness(50%);
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 700px;
z-index: -500;
background-repeat: repeat-x;
animation: animatedBackground 50s linear infinite;
}
@keyframes animatedBackground {
from { background-position: 0 0; }
to { background-position: 100% 0; }
}
input[type="submit"]{
border-bottom: none;
font-size: 13px;
color: white;
background-color: rgba(122, 157, 214,.7);
width: 20%;
margin-left: 40%;
border-radius: 15px;
padding: 10px;
}
input[type="submit"]:hover{
background-color: rgba(66, 244, 167,.7);
cursor: pointer;
}
input{
font-size:15px;
padding:10px 10px 10px 5px;
display:block;
width:100%;
background: transparent;
border-bottom: 1px solid white;
padding-bottom: 4px;
color: rgba(255,255,255,.7);
}
input:focus{ outline:none; }
/* LABEL ======================================= */
label{
color: #246ee5;
font-size:18px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all;
-moz-transition:0.2s ease all;
-webkit-transition:0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label 		{
top:-20px;
font-size:15px;
color:white;
border: none;
}
/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
content:'';
height:2px;
width:0;
bottom:2px;
position:absolute;
background-color:#3097d1;
transition:0.2s ease all;
-moz-transition:0.2s ease all;
-webkit-transition:0.2s ease all;
}
.bar:before {
left:50%;
}
.bar:after {
right:50%;
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
position:absolute;
height:60%;
width:100%;
top:25%;
left:0;
pointer-events:none;
opacity:0.5;
}
/* active state */
input:focus ~ .highlight {
-webkit-animation:inputHighlighter 0.3s ease;
-moz-animation:inputHighlighter 0.3s ease;
animation:inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
from { background-color: #3097d1; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
from { background-color: #3097d1; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
from { background-color: #3097d1; }
to 	{ width:0; background:transparent; }
}
